aiogram
fastapi
uvicorn
python-dotenv
psycopg2-binary
# google-cloud-translate # Для інтеграції з Google Translate API
# aiohttp # Для асинхронних HTTP запитів
# croniter # Можливо для фонових задач, якщо не використовувати зовнішні планувальники
